@import 'bootstrap';

/* universal */

body {

  background-image: image-url('tweety.png');
    background-repeat: no-repeat;
    background-size: 50%;
  background-position: right ;

  padding-top: 60px;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;

}